@import url('abstract.css');

a {
    color: #504cc9;
}

sidebar-logo {
    vertical-align: bottom;
}

#db-header {
    padding-bottom: 0px;
}

#db-header h1 {
    margin-bottom: 0px;
}

div.sidebar-section ul span {
    background: transparent no-repeat top left;
    padding-left: 20px;
}

div.sidebar-section ul span.method    { background-image: url('../images/icons/method.png'); }
div.sidebar-section ul span.function  { background-image: url('../images/icons/function.png'); }
div.sidebar-section ul span.class     { background-image: url('../images/icons/class.png'); }
div.sidebar-section ul span.interface { background-image: url('../images/icons/interface.png'); }
div.sidebar-section ul span.constant  { background-image: url('../images/icons/constant.png'); }
div.sidebar-section ul span.property  { background-image: url('../images/icons/property.png'); }
div.sidebar-section ul span.package   { background-image: url('../images/icons/package.png'); }
div.sidebar-section ul span.namespace { background-image: url('../images/icons/namespace.png'); }
div.sidebar-section ul span.file      { background-image: url('../images/icons/file.png'); }

td#db-menu {
    font-size: 0.8em;
    border-bottom: 1px solid silver;
}

td#db-menu ul {
    display: block;
}

td#db-menu li {
    float: right;
    padding-right: 10px;
}
