<div class="literal-block">
    <div class="highlight-{{ language }}">
        <table class="highlighttable">
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre>{{ lineNumbers }}</pre>
                    </div>
                </td>
                <td class="code">
                    <div class="highlight">
                        <pre class="hljs {{ languageMapping }}">{{ code|raw }}</pre>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
