<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: -.5rem">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.8938 0L45.5009 2.49244C37.3547 9.69866 33.6041 17.5764 32.4029 24.0936C31.8009 27.3599 31.8413 30.2714 32.2774 32.5817C32.7212 34.9329 33.5431 36.5091 34.3554 37.2827L32.5358 39.6471L0 19.6608L43.8938 0ZM6.40933 20.0771L29.5917 34.3177C29.493 33.9348 29.4055 33.541 29.3294 33.1382C28.8177 30.4269 28.7908 27.1404 29.4526 23.5498C30.4569 18.1012 33.0518 11.9219 37.9998 5.92724L6.40933 20.0771Z" fill="#8DD35F"/>
            <path d="M10.9489 20.2992L33.7512 9.75848C26.2148 18.191 26.4081 27.9651 27.4709 30.8399L10.9489 20.2992Z" fill="#8DD35F"/>
        </svg>
        {{ project.name }}
    </a>
</h1>
