.*
bin/*
!bin/phpdoc
!bin/githubaction
!bin/console
!bin/plantuml
build
docs
features
tests
tools
var
vendor

*.md
behat.yml
box.json
Makefile
phive.xml
phpcs.xml.dist
phpmd.xml.dist
phpstan.neon
phpunit.xml.dist
symfony.lock
