.idea
bin/behat
bin/phpcs
bin/phpunit
bin/jsonlint
bin/validate-json
build.properties
build/*
.buildpath
.project
.settings
vendor/*
composer.phar
data/templates/*
.vagrant
/nbproject/private/
box.phar
phpunit.xml
