[submodule ".puppet/modules/composer"]
	path = .puppet/modules/composer
	url = https://github.com/willdurand/puppet-composer.git
[submodule ".puppet/modules/php"]
	path = .puppet/modules/php
	url = https://github.com/saz/puppet-php.git
