<?xml version="1.0" encoding="UTF-8" ?>
<docblox>
  <target>output</target>
  <extensions>
    <extension>php</extension>
    <extension>php3</extension>
    <extension>phtml</extension>
  </extensions>
  <logging>
    <level>warn</level>
    <paths>
      <default>log/{DATE}.log</default>
      <errors>log/{DATE}.errors.log</errors>
    </paths>
  </logging>
  <markers>
    <item>TODO</item>
    <item>FIXME</item>
  </markers>
</docblox>