version: '3'
services:
  phpdoc:
    build: .

  phpunit:
    build: docker/with-xdebug
    volumes: [".:/opt/phpdoc"]
    working_dir: "/opt/phpdoc"
    entrypoint: ["./tools/phpunit"]

  behat:
    build: docker/with-xdebug
    volumes: [".:/opt/phpdoc"]
    working_dir: "/opt/phpdoc"
    command: ["./bin/behat"]

  phpcs:
    image: oskarstark/phpcs-ga
    volumes: [".:/opt/phpdoc"]
    working_dir: "/opt/phpdoc"
    command: ["-d memory_limit=1024M"]

  phpstan:
    image: phpdoc/phpstan-ga:master
    environment:
      PHP_EXTENSIONS: php7-intl
    volumes: [".:/app"]
    command: "analyse src tests --level 3 --configuration phpstan.neon"
