<?xml version="1.0"?>
<ruleset name="phpDocumentor">
 <description>The coding standard for phpDocumentor.</description>

    <file>src</file>
    <file>tests/unit</file>
    <exclude-pattern>*\.(css|js)$</exclude-pattern>
    <arg value="p"/>
     <rule ref="PSR2">
         <include-pattern>*\.php</include-pattern>
     </rule>
      <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
         <exclude-pattern>*/tests/unit/*.php</exclude-pattern>
     </rule>
</ruleset>
