includes:
    - /composer/vendor/phpstan/phpstan-mockery/extension.neon
    - /composer/vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - ./vendor/phpdocumentor/graphviz/extension.neon

parameters:
  ignoreErrors:
    - '#Constructor of class phpDocumentor\\Transformer\\Writer\\Twig\\Extension has an unused parameter \$transformation#'
    - '#Call to an undefined method League\\Flysystem\\FilesystemInterface::find()#'
    # Bad design of descriptors.
    - '#Access to an undefined property phpDocumentor\\Descriptor\\Collection::\$[a-z]+#'
    - '#Argument of an invalid type phpDocumentor\\Transformer\\Template\\Parameter supplied for foreach, only iterables are supported.#'
    - '#Method phpDocumentor\\Descriptor\\MethodDescriptor::getInheritedElement() should return phpDocumentor\\Descriptor\\MethodDescriptor|null but returns phpDocumentor\\Descriptor\\DescriptorAbstract.#'
  excludes_analyse:
   #test data
    - %currentWorkingDirectory%/tests/features/**/*.php
    - %currentWorkingDirectory%/tests/data/*.php
    - %currentWorkingDirectory%/tests/features/assets/**/*.php
    - %currentWorkingDirectory%/tests/ReferenceImplementation.php
   # files with issues because of removed validators
    - %currentWorkingDirectory%/src/phpDocumentor/Plugin/Core/Transformer/Writer/Xml.php
    - %currentWorkingDirectory%/src/phpDocumentor/Plugin/Core/Transformer/Writer/Checkstyle.php
   # use of magic methods
    - %currentWorkingDirectory%/src/phpDocumentor/Parser/Command/Project/ParseCommand.php
   # method doesn't exist??? phpDocumentor\Plugin\Scrybe\Converter\ToLatexInterface::setTableOfContents()
    - %currentWorkingDirectory%/src/phpDocumentor/Plugin/Scrybe/Command/Manual/ToLatexCommand.php
   # exclude scrybe, since this is not a working plugin at the moment
    - %currentWorkingDirectory%/src/phpDocumentor/Plugin/Scrybe/**/*.php
   # needs adjustment of interface in phpDocumentor/reflection in order to be able to typehint the command
    - %currentWorkingDirectory%/src/phpDocumentor/Parser/Middleware/*.php
   # phpunit TestCase while having to use a composer-global install ("Class PHPUnit\\Framework\\TestCase not found and could not be autoloaded")
    - %currentWorkingDirectory%/tests/unit/**/*.php
