<?xml version="1.0" encoding="utf-8"?>

<phpunit bootstrap="tests/common/bootstrap.php" colors="true" strict="true">
    <testsuites>
        <testsuite name="phpDocumentor">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/phpDocumentor</directory>
            <exclude>
                <directory suffix=".php">src/phpDocumentor/*/Messages</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <!--
            Temporary folder for some tests' output.
            Must already exist.
            Defaults to the OS' temp folder.
        -->
        <!--<const name="phpDocumentor\PHPUnit\TEMP_DIR" value="/tmp" />-->
        <!-- A folder guaranteed not to exist during the test run. -->
        <const name="phpDocumentor\PHPUnit\UNKNOWN_DIR" value="/tmpa" />
    </php>
    <logging>
<!--
        <log type="coverage-html"
            title="phpDocumentor"
            target="build/coverage"
            charset="UTF-8"
            yui="true"
            highlight="false"
            lowUpperBound="35"
            highLowerBound="70" />
-->
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>
    <listeners>
        <listener class="Mockery\Adapter\Phpunit\TestListener"
            file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>
    </listeners>
</phpunit>
