<?xml version="1.0" encoding="utf-8"?>

<phpunit bootstrap="tests/common/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit"><directory>./tests/unit/</directory></testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <!-- Temporary excludes because these files and folders will be refactored away -->
                <directory>src/DomainModel/Renderer/Router</directory>
                <directory>src/Application/Renderer/Router</directory>
                <directory>src/Application/Renderer/*Renderer*</directory>
                <file>src/Application/Renderer/JsonpRenderer.php</file>
                <file>src/Application/Renderer/StructureXmlRenderer.php</file>
                <file>src/Application/Renderer/TwigRenderer.php</file>
                <file>src/Application/Renderer/XslRenderer.php</file>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener
            class="Mockery\Adapter\Phpunit\TestListener"
            file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"
        />
    </listeners>
</phpunit>
