html, body, #page
{
  height: 99.9%;
  width:  100%;
}

#db-header, #menubar
{
  height: 1px;
}

#sidebar
{
  width: 250px;
}

#sidebar iframe, #contents iframe
{
  height: 100%;
  width:  100%;
  border: none;
}

.footer, #footer
{
  display: block;
  clear: both;
}

#accordion table, #marker-accordion table
{
    font-size: 0.95em;
}

#marker-accordion h3 a small
{
    display:        block;
    float:          right;
    background:     gray;
    height:         18px;
    line-height:    18px;
    padding:        0px 5px;
    border-radius:  3px;
    color:          white;
    font-weight:    bold;
}

ul#menu
{
  background:         black;
  display:            block;
  height:             34px;
  line-height:        22px;
  padding:            0px;
  margin:             0px;
  font-size:          0.8em;
}

ul#menu li
{
  padding:      0px 10px;
  margin:       5px 0px;
  border-right: 1px solid gray;
  display:      block;
  float:        left;
}

ul#menu li:last-of-type
{
  border: none;
}

ul#menu li a
{
  color:   white;
  display: block;
}

ul.filetree li a
{
  display: block;
}

ul.filetree li a small
{
  display: none;
}

ul.filetree li a:hover small
{
  display: inline;
  color:   gray;
}

#sidebar-content
{
    width: 100%;
    height: 100%;
}

.ui-resizable-helper
{
    border-right: 40px solid silver;
    margin-right: -40px;

    /* 20% opacity; zoom is required for IE */
    zoom: 1;
    filter: alpha(opacity = 20);
    opacity: 0.2;
}
