h1, h2, h3, h4, h5, h6
{
  padding-top: 10px;
  border-bottom:  1px dashed gray;
  padding-bottom: 5px;
  clear: left;
}

h1
{
  padding-bottom: 10px;
  margin-bottom: 6px;
}

h1.file
{
  background: transparent url('file.gif') no-repeat 13px left;
  padding-left: 25px;
}

h2
{
  color:          navy;
  padding-top:    20px;
  margin-bottom:  5px;
}

h2.class
{
  clear: both;
}

h4
{
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 10px;
}

.file-info, .class-info
{
  float: right;
  width: 200px;
  word-wrap: break-word;
  border-left: 1px solid #5f9ea0;
  padding-left: 7px;
  background: white;
}

dl.function-info, dl.constant-info
{
  width: 100%;
  background-color: #f0f0f0;
}

dd, dt
{
  background: transparent;
}

dd pre
{
  margin:     0px;
  background: #f9f9f9;
}

p, div dl, h4.arguments, div.arguments
{
  margin-left: 10px;
}

code
{
  background: black;
  color:      white;
  padding:    5px 10px;
}

p.short-description
{
  margin-bottom: 5px;
  font-weight: bold;
}

p.long-description
{
  font-size: 0.9em;
}

div.arguments dd, div.arguments dt,
div.constant dd, div.constant dt,
div.property dd, div.property dt,
.function-info dd, .function-info dt
{
  float: left;
}

div.arguments dt, div.constant dt, div.property dt, .function-info dt
{
  width: 100px;
  clear: left;
}

.file-info dd a.class
{
  background: transparent url('../../../data/images/icons/class.png') no-repeat 0px 0px;
  padding-left: 20px;
  margin-left: -10px;
}

.file-info dd a.function
{
  background: transparent url('../../../data/images/icons/function.png') no-repeat 0px 0px;
  padding-left: 20px;
  margin-left: -10px;
}

.file-info dd a.constant
{
  background:   transparent url('../../../data/images/icons/constant.png') no-repeat 0px 0px;
  padding-left: 20px;
  margin-left:  -10px;
}

h3.constant
{
  background:   transparent url('../../../data/images/icons/constant.png') no-repeat 0px 10px;
  padding-left: 20px;
}

h3.function
{
  background:   transparent url('../../../data/images/icons/function.png') no-repeat 0px 10px;
  padding-left: 20px;
}

h3.method
{
  background:   transparent url('../../../data/images/icons/method.png') no-repeat 0px 10px;
  padding-left: 20px;
}

h3.property
{
  background:   transparent url('../../../data/images/icons/property.png') no-repeat 0px 10px;
  padding-left: 20px;
}

h2.class
{
  background:   transparent url('../../../data/images/icons/class.png') no-repeat left 21px;
  padding-left: 20px;
}

h2.interface
{
  background:   transparent url('../../../data/images/icons/interface.png') no-repeat left 21px;
  padding-left: 20px;
}

