html, body, #page
{
  height: 100%;
  width:  100%;
}

#header, #menu
{
  height: 1px;
}

#sidebar
{
  width: 250px;
}

#sidebar iframe, #main iframe
{
  height: 100%;
  width:  100%;
  border: none;
}