body.nav
{
  background: #d9d9d9;
}

iframe#nav
{
  border-radius: 10px;
  -moz-border-radius: 10px;
}

div.search-box
{
  padding: 5px 3px 0px;

  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f0f0f0', endColorstr = '#d9d9d9'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d9d9d9)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #f0f0f0, #d9d9d9); /* for firefox 3.6+ */

  border-bottom: 1px solid silver;
}

div.search-box input
{
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: 24px;
  border: 2px solid #f6f6f9;
  border-top-color: #e0e0e0;
  border-left-color: #e0e0e0;
  background: white url('search.gif') 5px center no-repeat;
  padding-left: 25px;
  padding-right: 5px;
}

div.results
{
  border-radius: 10px;
  -moz-border-radius: 10px;
  background: #f0f0f0;
  margin: 10px;
}

div.results a.result
{
  border-bottom: 1px solid silver;
  display: block;
  padding: 7px 5px;
  color: black;
  background: transparent url('arrow_right.gif') right center no-repeat;
  text-decoration: none;
}

div.results a.result:hover
{
  color: blue;
}

div.results a.result:last-of-type
{
  border: none;
}

div.results a.result img
{
  border: 0px;
}

