{% set keyword = 'ul' %}

{% if node.isOrdered %}
    {% set keyword = 'ol' %}
{% endif %}

<{{ keyword }}{% if node.classes %} class="{{ node.classesString }}"{% endif %}>
{% for item in node.items %}
    <li>
    {% for content in item.contents %}
        {{ renderNode(content) }}
    {% endfor %}
    </li>
{% endfor %}
</{{ keyword }}>
