{% apply spaceless %}
    {% set text = node.value.render()|trim %}

    {% if text %}
        <p{% if node.classes %} class="{{ node.classesString }}"{% endif %}>{{ text|raw }}</p>
    {% endif %}
{% endapply %}
