@import url('sen.full.min.css');
@import url('navigation.css');
@import url('api-content.css');
@import url('default.css');

#page
{
  background: white;
}

#header
{
  height: 40px;
  padding: 10px 10px;
}

#header h1
{
  display:     inline;
  margin-left: 10px;
  background:  white url('../images/top-background.png') repeat-x top left;
  padding-top: 29px;
  padding-bottom: 0px;
  border: none;
}

td#menubar
{
  padding: 0px;
}

ul#menu
{
  height: 54px;
}

ul#menu li
{
  padding: 1px 5px;
  border: none;
}

#menu a
{
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #221;
}

table#overview th
{
  text-align: left;
}

table#overview td
{
  border: none;
}