@import url('sen.full.min.css');
@import url('navigation.css');
@import url('api-content.css');
@import url('default.css');

body.chrome
{
  background:  black url('../../../data/themes/default/images/background.png') repeat-x top left;
}

#page
{
  background: white url('../../../data/themes/default/images/top.png') top left no-repeat;
}

#header
{
  height: 62px;
  padding: 0px;
}

#header h1
{
  display:     inline;
  margin-left: 10px;
  background:  white url('../../../data/themes/default/images/top-background.png') repeat-x top left;
  padding-top: 36px;
  border: none;
}

#menu
{
  height: 20px;
}

#page
{
  margin:           0 auto;
  width:            960px;
}

table#overview th
{
  text-align: left;
}

table#overview td
{
  border: none;
}