<?xml version="1.0" encoding="UTF-8" ?>

<plugin>
    <name>Twig</name>
    <version>1.0</version>
    <author>Mike van Riel</author>
    <email>mike.vanriel@naenius.com</email>
    <description>
        This plugin contains the writer and support classes to add Twig support
        to phpDocumentor 2.
    </description>
    <dependencies>
        <phpdoc><min-version>2.0.0</min-version></phpdoc>
    </dependencies>
</plugin>
