@import url('navigation.css');
@import url('api-content.css');
@import url('default.css');

body
{
  margin: 0px;
  padding: 0px;
}

table#page
{
  margin: 0px;
  padding: 0px;
  border-collapse:collapse;
}

div.section
{
  font-size: 0.8em;
}

div.section h1
{
  font: 12px / 16px Arial, Verdana, sans-serif;
  font-size: 16px;
}