{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="well wrapper">
                <div id="viewer" class="viewer"></div>
            </div>
        </div>
    </div>

    <script src="{{ path('js/jquery.iviewer.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).resize(function(){
            $("#viewer").height($(window).height() - 260);
        });

        $(document).ready(function() {
            $("#viewer").iviewer({src: '{{ path('classes.svg') }}', zoom_animation: false});
            $('#viewer img').bind('dragstart', function(event){
                event.preventDefault();
            });
        });
    </script>
{% endblock %}
