<?xml version="1.0" encoding="UTF-8" ?>

<plugin>
    <name>Core</name>
    <version>1.0</version>
    <author>Mike van Riel</author>
    <email>mike.vanriel@naenius.com</email>
    <description>
        This plugin contains all PHPDoc basic behaviours and validators.
    </description>
    <listener>phpDocumentor\Plugin\Core\Listener</listener>
    <dependencies>
        <phpdoc><min-version>2.0.0</min-version></phpdoc>
    </dependencies>
    <options>
        <option name="generate-graph">true</option>
    </options>
</plugin>
