<ul class="phpdocumentor-breadcrumbs">
    <li><a href="{{ path("/index.html") }}">Home</a></li>
    {% for breadcrumb in breadcrumbs(node) %}
        <li><a href="{{ link(breadcrumb) }}">{{breadcrumb.name}}</a></li>
    {% endfor %}
</ul>
