{% extends 'base.html.twig' %}

{% block content %}
    <h2>Documentation</h2>

    {% set node = documentationSet.namespace %}

    {{
    include(
        'components/table-of-contents.html.twig',
        {
            'node': documentationSet.namespace,
            'namespaces': usesNamespaces or not usesPackages ? node.children : [],
            'packages': usesPackages ? documentationSet.package.children : []
        }
    )
    }}
    {{ include('components/constants.html.twig', {'node': documentationSet.namespace}) }}
    {{ include('components/functions.html.twig', {'node': documentationSet.namespace}) }}
{% endblock %}
