{% if isChild|default(false) == false %}
<h2 class="phpdocumentor-sidebar__root-package">
{% endif %}
    <a href="{{ menuItem.path }}">{{ menuItem.label }}</a>
{% if isChild|default(false) == false %}
</h2>
{% endif %}

{% if menuItem.items is not empty %}
<ul class="phpdocumentor-list">
    {% for child in menuItem.items|default([]) %}
        <li>
            {{ include('menu.html.twig', {menuItem: child, isChild: true}, with_context = false) }}
        </li>
    {% endfor %}
</ul>
{% endif %}
