{% extends 'base.html.twig' %}

{% block content %}
    {% include 'components/breadcrumbs.html.twig' %}

    {% include 'components/namespace-title.html.twig' %}

    {% if node.children is not empty %}
        <h3>Namespaces</h3>
        <dl>
            {% for namespace in node.children %}
                <dt>{{ namespace|route('class:short') }}</dt>
            {% endfor %}
        </dl>
    {% endif %}

    {{ include ('components/table-of-contents.html.twig') }}
    {{ include ('components/constants.html.twig') }}
    {{ include ('components/functions.html.twig') }}
{% endblock %}
