<aside class="three phpdocumentor-columns phpdocumentor-sidebar">
    <h1 class="phpdocumentor-sidebar__category-header">API</h1>
    {% for namespace in project.namespace.children %}
        <h2 class="phpdocumentor-sidebar__root-namespace">{{ namespace|route('class:short')|raw }}</h2>
        <ul class="phpdocumentor-list">
            {% for child in namespace.children %}
                <li><a href="{{ link(child) }}">{{ child.name }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
</aside>
