<section class="section {% if node.classes %} {{ node.classesString }}{% endif %}" id="{{ node.title.id }}">
    {% for childNode in node.children %}
        {{ renderNode(childNode) }}
    {% endfor %}
</section>
