###################################################################################
## Guides - EXPERIMENTAL ##########################################################
###################################################################################

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
  _instanceof:
    phpDocumentor\Guides\MarkupLanguageParser:
      tags: ['phpdoc.guides.parser.markupLanguageParser']
    phpDocumentor\Guides\Formats\OutputFormat:
      tags: ['phpdoc.guides.format']
    phpDocumentor\Guides\References\Reference:
      tags: ['phpdoc.guides.reference']
    phpDocumentor\Guides\RestructuredText\Directives\Directive:
      tags: ['phpdoc.guides.directive']

  Doctrine\Common\EventManager: ~

  phpdoc.app.guides:
    namespace: phpDocumentor\Guides\
    resource: '../src/phpDocumentor/Guides/*'

  phpdoc.guides:
    namespace: phpDocumentor\Guides\
    exclude:
      - '../incubator/guides/src/Nodes/*'
      - '../incubator/guides/src/Meta/*'
      - '../incubator/guides/src/Span/*'
    resource: '../incubator/guides/src/*'

  phpdoc.guides.markdown:
    namespace: phpDocumentor\Guides\
    resource: '../incubator/guides-markdown/src/*'

  phpdoc.guides.restructuredtext:
    namespace: phpDocumentor\Guides\
    exclude:
      # Explicitly exclude the parser itself as the output $format dictates how it is used; as such, a parser should
      # always be explicitly passed through the use of the named services defined
      - '../incubator/guides-restructured-text/src/RestructuredText/MarkupLanguageParser.php'
      - '../incubator/guides-restructured-text/src/RestructuredText/Event/*'
      - '../incubator/guides-restructured-text/src/RestructuredText/OutputFormat.php'
      - '../incubator/guides-restructured-text/src/RestructuredText/Parser/{Buffer,Directive,DirectiveOption,LinesIterator,TableSeparatorLineConfig}.php'
    resource: '../incubator/guides-restructured-text/src/*'

  phpDocumentor\Guides\RestructuredText\HTML\Directives\:
    resource: '../incubator/guides-restructured-text/src/RestructuredText/HTML/Directives/*'
    exclude:
      - '../incubator/guides-restructured-text/src/RestructuredText/HTML/Directives/AbstractAdmonitionDirective.php'
    tags: [ { name: 'phpdoc.guides.html_directive' } ]

  phpDocumentor\Guides\RestructuredText\LaTeX\Directives\:
    resource: '../incubator/guides-restructured-text/src/RestructuredText/LaTeX/Directives/*'
    tags: [ { name: 'phpdoc.guides.latex_directive' } ]

  phpDocumentor\Guides\Handlers\:
    resource: '../src/phpDocumentor/Guides/Handlers/*Handler.php'
    tags: [{name: tactician.handler, typehints: true}]

  phpDocumentor\Pipeline\Stage\Parser\ParseGuides:
    tags:
      - { name: 'phpdoc.pipeline.api_documentation.parse', priority: 0 }

  phpDocumentor\Pipeline\Stage\Cache\LoadGuidesFromCache:
    tags:
      - { name: 'phpdoc.pipeline.api_documentation.parse', priority: 2000 }
      - { name: 'phpdoc.pipeline.api_documentation.transform', priority: 5000 }

  phpDocumentor\Pipeline\Stage\Cache\StoreGuidesToCache:
    tags:
      - { name: 'phpdoc.pipeline.api_documentation.parse', priority: -1000 }

  phpDocumentor\Guides\Parser:
    arguments:
      $parserStrategies: !tagged_iterator phpdoc.guides.parser.markupLanguageParser

  phpDocumentor\Guides\Handlers\RenderHandler:
    arguments:
      $references: !tagged_iterator phpdoc.guides.reference
    tags: [{name: tactician.handler, typehints: true}]

  phpDocumentor\Guides\Formats\OutputFormats:
    arguments:
      $outputFormats: !tagged_iterator phpdoc.guides.format

  guides.renderer.outputformat.rst.html:
    class: phpDocumentor\Guides\RestructuredText\OutputFormat
    arguments:
      $fileExtension: 'html'
      $directives: !tagged_iterator phpdoc.guides.html_directive
    tags: ['phpdoc.guides.format']

  guides.renderer.outputformat.rst.latex:
    class: phpDocumentor\Guides\RestructuredText\OutputFormat
    arguments:
      $fileExtension: 'tex'
      $directives: !tagged_iterator phpdoc.guides.latex_directive
    tags: ['phpdoc.guides.format']

  guides.parser.rst.html:
    class: phpDocumentor\Guides\RestructuredText\MarkupLanguageParser
    arguments:
      $directives: !tagged_iterator phpdoc.guides.directive
      $references: !tagged_iterator phpdoc.guides.reference
      $format: '@guides.renderer.outputformat.rst.html'
    tags: ['phpdoc.guides.parser.markupLanguageParser']

  guides.parser.rst.latex:
    class: phpDocumentor\Guides\RestructuredText\MarkupLanguageParser
    arguments:
      $directives: !tagged_iterator phpdoc.guides.directive
      $references: !tagged_iterator phpdoc.guides.reference
      $format: '@guides.renderer.outputformat.rst.latex'
    tags: ['phpdoc.guides.parser.markupLanguageParser']

  phpDocumentor\Guides\Renderer:
    arguments:
      $outputFormatRenderers: !tagged_iterator phpdoc.guides.renderer

  guides.renderer.html:
    class: phpDocumentor\Guides\Renderer\OutputFormatRenderer
    arguments:
      $nodeRendererFactory: '@guides.renderer.noderenderers.html'
      $format: 'html'
    tags: ['phpdoc.guides.renderer']

  guides.renderer.latex:
    class: phpDocumentor\Guides\Renderer\OutputFormatRenderer
    arguments:
      $nodeRendererFactory: '@guides.renderer.noderenderers.latex'
      $format: 'tex'
    tags: ['phpdoc.guides.renderer']

  guides.renderer.noderenderers.html:
    class: phpDocumentor\Guides\NodeRenderers\InMemoryNodeRendererFactory
    arguments:
      $nodeRenderers: !tagged_iterator phpdoc.guides.noderenderer.html
      $defaultNodeRenderer: '@phpDocumentor\Guides\NodeRenderers\DefaultNodeRenderer'

  guides.renderer.noderenderer.anchor:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'anchor.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\AnchorNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.figure:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'figure.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\FigureNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.meta:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'meta.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\MetaNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.paragraph:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'paragraph.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\ParagraphNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.quote:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'quote.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\QuoteNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.sparator:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'separator.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\SeparatorNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.title:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'header-title.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\TitleNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.sectionbegin:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'section-begin.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\SectionBeginNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.sectionend:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'section-end.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\SectionEndNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.image:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'image.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\ImageNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.uml:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'uml.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\UmlNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.code:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'code.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\CodeNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.definitionlist:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'definition-list.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\DefinitionListNode'
    tags: ['phpdoc.guides.noderenderer.html']

  phpDocumentor\Guides\NodeRenderers\Html\DocumentNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.html']

  phpDocumentor\Guides\NodeRenderers\Html\SpanNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.html']

  phpDocumentor\Guides\NodeRenderers\Html\TableNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.html']

  phpDocumentor\Guides\NodeRenderers\Html\TocNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderer.list:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'list.html.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\ListNode'
    tags: ['phpdoc.guides.noderenderer.html']

  guides.renderer.noderenderers.latex:
    class: phpDocumentor\Guides\NodeRenderers\InMemoryNodeRendererFactory
    arguments:
      $nodeRenderers: !tagged_iterator phpdoc.guides.noderenderer.latex
      $defaultNodeRenderer: '@phpDocumentor\Guides\NodeRenderers\DefaultNodeRenderer'

  guides.renderer.noderenderer.latex.anchor:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'anchor.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\AnchorNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  guides.renderer.noderenderer.latex.code:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'code.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\CodeNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  guides.renderer.noderenderer.latex.image:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'image.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\ImageNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  guides.renderer.noderenderer.latex.meta:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'meta.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\MetaNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  guides.renderer.noderenderer.latex.paragraph:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'paragraph.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\ParagraphNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  guides.renderer.noderenderer.latex.quote:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'quote.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\QuoteNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  guides.renderer.noderenderer.latex.separator:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'separator.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\SeparatorNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  guides.renderer.noderenderer.latex.list:
    class: phpDocumentor\Guides\NodeRenderers\TemplateNodeRenderer
    arguments:
      $template: 'list.tex.twig'
      $nodeClass: '\phpDocumentor\Guides\Nodes\ListNode'
    tags: ['phpdoc.guides.noderenderer.latex']

  phpDocumentor\Guides\NodeRenderers\LaTeX\DocumentNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.latex']

  phpDocumentor\Guides\NodeRenderers\LaTeX\SpanNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.latex']

  phpDocumentor\Guides\NodeRenderers\LaTeX\TableNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.latex']

  phpDocumentor\Guides\NodeRenderers\LaTeX\TocNodeRenderer:
    tags: ['phpdoc.guides.noderenderer.latex']
