imports:
  - { resource: 'pipelines.yaml' }
  - { resource: 'reflection.yaml' }
  - { resource: 'stages.yaml' }
  - { resource: 'guides.yaml' }

parameters:
    linker.substitutions:
      'phpDocumentor\Descriptor\ProjectDescriptor': ['files']
      'phpDocumentor\Descriptor\FileDescriptor':
          - 'tags'
          - 'classes'
          - 'interfaces'
          - 'traits'
          - 'functions'
          - 'constants'
      'phpDocumentor\Descriptor\ClassDescriptor':
          - 'tags'
          - 'parent'
          - 'interfaces'
          - 'constants'
          - 'properties'
          - 'methods'
          - 'usedTraits'
      'phpDocumentor\Descriptor\InterfaceDescriptor':
          - 'tags'
          - 'parent'
          - 'constants'
          - 'methods'
      'phpDocumentor\Descriptor\TraitDescriptor':
          - 'tags'
          - 'properties'
          - 'methods'
          - 'usedTraits'
      'phpDocumentor\Descriptor\EnumDescriptor':
        - 'tags'
        - 'interfaces'
        - 'cases'
        - 'methods'
        - 'usedTraits'
      'phpDocumentor\Descriptor\FunctionDescriptor':
          - 'tags'
          - 'arguments'
      'phpDocumentor\Descriptor\MethodDescriptor':
          - 'tags'
          - 'arguments'
      'phpDocumentor\Descriptor\ArgumentDescriptor':
          - 'type'
      'phpDocumentor\Descriptor\PropertyDescriptor':
          - 'tags'
          - 'type'
      'phpDocumentor\Descriptor\ConstantDescriptor':
          - 'tags'
          - 'type'
      'phpDocumentor\Descriptor\Tag\ParamDescriptor': ['type']
      'phpDocumentor\Descriptor\Tag\VarDescriptor': ['type']
      'phpDocumentor\Descriptor\Tag\ReturnDescriptor': ['type']
      'phpDocumentor\Descriptor\Tag\SeeDescriptor': ['reference']
      'phpDocumentor\Descriptor\Tag\UsesDescriptor': ['reference']

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
          $defaultTemplateName: 'default'
          $globalTemplatesPath: "@=service('phpDocumentor\\\\Application').templateDirectory()"
          $servicesWithCustomSettings: !tagged_iterator app.with_custom_settings
    _instanceof:
      # Tag any service that implements WithCustomSettings so that we can auto-register them
      # with the ProjectDescriptor
      phpDocumentor\Descriptor\ProjectDescriptor\WithCustomSettings:
        tags: ['app.with_custom_settings']

      phpDocumentor\Descriptor\Filter\FilterInterface:
        tags: ['phpdoc.descriptor.filter']

      phpDocumentor\Transformer\Writer\WriterAbstract:
        tags: ['phpdoc.transformer.writer']

    ###################################################################################
    ## Autoloading definitions for whole namespaces ###################################
    ###################################################################################

    phpDocumentor\:
        resource: '../src/phpDocumentor/*'
        exclude:
          - '../src/phpDocumentor/**/Messages'
          - '../src/phpDocumentor/Pipeline/Stage'
          - '../src/phpDocumentor/Transformer/**/{Event, Exception}/{**}'
          - '../src/phpDocumentor/Guides'

    phpDocumentor\Console\:
        resource: '../src/phpDocumentor/Console'

    phpDocumentor\Parser\:
        resource: '../src/phpDocumentor/Parser'
        exclude: '../src/phpDocumentor/Parser/Middleware'

    phpDocumentor\Parser\Middleware\:
        resource: '../src/phpDocumentor/Parser/Middleware'
        tags: [ { name: 'phpdoc.parser.middleware', priority: 1000 } ]

    phpDocumentor\Transformer\:
        resource: '../src/phpDocumentor/Transformer'
        exclude: '../src/phpDocumentor/Transformer/**/{Event, Exception}/{**}'

    phpDocumentor\Compiler\:
        resource: '../src/phpDocumentor/Compiler'

    ###################################################################################
    ## Definitions for specific flow related services #################################
    ###################################################################################

    phpdoc.flow.parser_provider:
      class: phpDocumentor\FlowService\ServiceProvider
      arguments: [!tagged_iterator { tag: 'phpdoc.flow.parser', index_by: 'documentation_type' }]

    phpdoc.flow.transformer_provider:
      class: phpDocumentor\FlowService\ServiceProvider
      arguments: [!tagged_iterator { tag: 'phpdoc.flow.transformer', index_by: 'documentation_type' }]

    phpDocumentor\FlowService\Api\Parser:
      tags:
        - { name: 'phpdoc.flow.parser', documentation_type: 'phpDocumentor\Descriptor\ApiSetDescriptor' }

    phpDocumentor\FlowService\Api\Transformer:
      tags:
        - { name: 'phpdoc.flow.transformer', documentation_type: 'phpDocumentor\Descriptor\ApiSetDescriptor' }

    ###################################################################################
    ## Autoloading definitions for individual classes #################################
    ###################################################################################

    Twig\Loader\FilesystemLoader: ~
    Twig\Environment:
      arguments:
        $loader: '@Twig\Loader\FilesystemLoader'

    phpDocumentor\Application: ~

    phpDocumentor\Console\Command\Project\RunCommand:
        arguments:
          - '@phpDocumentor\Descriptor\ProjectDescriptorBuilder'
          - '@phpdoc.complete.pipeline'

    phpDocumentor\Console\Command\Project\ListSettingsCommand: ~

    phpDocumentor\Descriptor\Builder\AssemblerFactory:
        class: 'phpDocumentor\Descriptor\Builder\AssemblerFactory'
        factory: ['phpDocumentor\Descriptor\Builder\AssemblerFactory', 'createDefault']

    phpDocumentor\Descriptor\Filter\Filter:
        arguments:
          - !tagged_iterator 'phpdoc.descriptor.filter'

    phpDocumentor\Configuration\Configuration:
        factory: ['@phpDocumentor\Configuration\ConfigurationFactory', 'fromDefaultLocations']

    phpDocumentor\Configuration\ConfigurationFactory:
        arguments:
          $defaultFiles:
            - "@=service('kernel').getWorkingDir() ~ '/phpdoc.xml'"
            - "@=service('kernel').getWorkingDir() ~ '/phpdoc.dist.xml'"
            - "@=service('kernel').getWorkingDir() ~ '/phpdoc.xml.dist'"
            - "@=service('kernel').getWorkingDir() ~ '/.phpdoc.xml.dist'"
            - "@=service('kernel').getWorkingDir() ~ '/.phpdoc.xml'"
            - "@=service('kernel').getWorkingDir() ~ '/.phpdoc.dist.xml'"
          $symfonyConfigFactory: '@phpDocumentor\Configuration\SymfonyConfigFactory'

    phpDocumentor\Configuration\SymfonyConfigFactory:
      arguments:
          $definitions:
            '2': '@phpDocumentor\Configuration\Definition\Version2'
            '3': '@phpDocumentor\Configuration\Definition\Version3'

    phpDocumentor\Compiler\Linker\Linker:
        arguments: ['%linker.substitutions%']

    phpDocumentor\Compiler\Compiler:
        calls:
            - [insert, ['@phpDocumentor\Compiler\Pass\TableOfContentsBuilder', 2000]]
            - [insert, ['@phpDocumentor\Compiler\Pass\ElementsIndexBuilder', !php/const \phpDocumentor\Compiler\Pass\ElementsIndexBuilder::COMPILER_PRIORITY]]
            - [insert, ['@phpDocumentor\Compiler\Pass\MarkerFromTagsExtractor', !php/const \phpDocumentor\Compiler\Pass\MarkerFromTagsExtractor::COMPILER_PRIORITY]]
            - [insert, ['@phpDocumentor\Compiler\Pass\PackageTreeBuilder', !php/const \phpDocumentor\Compiler\Pass\PackageTreeBuilder::COMPILER_PRIORITY]]
            - [insert, ['@phpDocumentor\Compiler\Pass\NamespaceTreeBuilder', !php/const \phpDocumentor\Compiler\Pass\NamespaceTreeBuilder::COMPILER_PRIORITY]]
            - [insert, ['@phpDocumentor\Compiler\Pass\ResolveInlineMarkers', !php/const \phpDocumentor\Compiler\Pass\ResolveInlineMarkers::COMPILER_PRIORITY]]
            - [insert, ['@phpDocumentor\Compiler\Pass\Debug', !php/const \phpDocumentor\Compiler\Pass\Debug::COMPILER_PRIORITY]]
            - [insert, ['@phpDocumentor\Compiler\Pass\RemoveSourcecode',!php/const \phpDocumentor\Compiler\Pass\RemoveSourcecode::COMPILER_PRIORITY]]
            - [insert, ['@phpDocumentor\Compiler\Linker\Linker', !php/const \phpDocumentor\Compiler\Linker\Linker::COMPILER_PRIORITY]]

    phpDocumentor\Parser\Parser: ~

    phpDocumentor\Reflection\DocBlock\ExampleFinder: ~

    phpDocumentor\JsonPath\Executor: ~
    phpdoc.jsonpath.parser:
      class: phpDocumentor\JsonPath\Parser
      factory: ['phpDocumentor\JsonPath\Parser', 'createInstance']

    phpDocumentor\Descriptor\Query\Engine:
        arguments:
          $parser: '@phpdoc.jsonpath.parser'

    phpDocumentor\Parser\Middleware\StopwatchMiddleware:
        tags: [ { name: 'phpdoc.parser.middleware', priority: 5000 } ]

    # Increments the progress bar; by placing it in front of the cache you see the progress bar
    # increment, even while we only consume the cache
    phpDocumentor\Parser\Middleware\EmittingMiddleware:
        tags: [ { name: 'phpdoc.parser.middleware', priority: 4500 } ]

    phpDocumentor\Parser\Middleware\CacheMiddleware:
        arguments:
          $files: '@files'
        tags: [ { name: 'phpdoc.parser.middleware', priority: 4000 } ]

    phpDocumentor\Parser\Middleware\ErrorHandlingMiddleware:
        tags: [ { name: 'phpdoc.parser.middleware', priority: 3000 } ]

    phpDocumentor\Parser\Middleware\ReEncodingMiddleware:
      tags: [ { name: 'phpdoc.parser.middleware', priority: 2000 } ]

    ###################################################################################
    ## Autoloading definitions for external services ##################################
    ###################################################################################

    phpDocumentor\Descriptor\Cache\ProjectDescriptorMapper:
        arguments:
          $descriptors: '@descriptors'

    League\Flysystem\MountManager: ~

    League\CommonMark\Extension\DisallowedRawHtml\DisallowedRawHtmlExtension:
      tags: ['commonmark.extension']

    League\CommonMark\ConverterInterface: '@League\CommonMark\CommonMarkConverter'
    League\CommonMark\CommonMarkConverter:
      factory: ['@phpDocumentor\Transformer\Writer\Twig\CommonMarkFactory', 'createConverter']
      arguments:
        - !tagged 'commonmark.extension'


    ###################################################################################
    ## Writers ########################################################################
    ###################################################################################

    phpDocumentor\Transformer\Writer\Twig\EnvironmentFactory: ~

    phpDocumentor\Transformer\Writer\Collection:
      arguments: [!tagged_iterator { tag: 'phpdoc.transformer.writer' }]

    phpDocumentor\Transformer\Writer\Graph\PlantumlRenderer:
      arguments:
        $plantUmlBinaryPath: '%kernel.project_dir%/bin/plantuml'

  ###################################################################################
  ## Guides - EXPERIMENTAL ##########################################################
  ###################################################################################
    phpDocumentor\FlowService\Guide\Parser:
      arguments:
        $outputFormats: !tagged_iterator phpdoc.guides.format
      tags:
        - { name: 'phpdoc.flow.parser', documentation_type: 'phpDocumentor\Descriptor\GuideSetDescriptor' }

    phpDocumentor\FlowService\Guide\RenderGuide:
      arguments:
        $outputFormats: !tagged_iterator phpdoc.guides.format
      tags:
        - { name: 'phpdoc.flow.transformer', documentation_type: 'phpDocumentor\Descriptor\GuideSetDescriptor' }
