<ul class="phpdocumentor-breadcrumbs">
    {% if usesNamespaces %}
        {% for breadcrumb in breadcrumbs(node) %}
            <li><a href="{{ link(breadcrumb) }}">{{ breadcrumb.name }}</a></li>
        {% endfor %}
    {% else %}
        {% for breadcrumb in packages(node) %}
            <li><a href="{{ link(breadcrumb) }}">{{ breadcrumb.name }}</a></li>
        {% endfor %}
    {% endif %}
</ul>
