{% set constants = constants(node)|sortByVisibility %}

{% if constants is not empty %}
    <section class="phpdocumentor-constants">
        <h3 class="phpdocumentor-elements__header" id="constants">
            Constants
            <a href="{{ link(node) }}#constants" class="headerlink"><i class="fas fa-link"></i></a>
        </h3>
        {% for constant in constants %}
            {% include 'components/constant.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
