{% set constants = constants(node) %}

{% if constants is not empty %}
    <section class="phpdocumentor-constants">
        <h3 class="phpdocumentor-constants__header">Constants</h3>
        {% for constant in constants %}
            {% include 'components/constant.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
