<aside class="phpdocumentor-element-found-in">
    <abbr class="phpdocumentor-element-found-in__file" title="{{ node.file.path }}">{{ node.file|route('file:short') }}</abbr>
    :
    <span class="phpdocumentor-element-found-in__line">{{ node.line }}</span>
</aside>
