{% set cases = node.cases %}
{% if cases is not empty %}
    <section class="phpdocumentor-cases">
        <h3 class="phpdocumentor-elements__header" id="cases">
            Cases
            {{ include('components/headerlink.html.twig', {'on': node, 'at': 'cases'}, with_context = false) }}
        </h3>
        {% for case in cases %}
            {% include 'components/enum-case.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
