{% if node.functions is not empty %}
    <section class="phpdocumentor-functions">
        <h3 class="phpdocumentor-elements__header" id="functions">
            Functions
            <a href="{{ link(node) }}#functions" class="headerlink"><i class="fas fa-link"></i></a>
        </h3>
        {% for function in node.functions %}
            {% include 'components/function.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
