{% if node.arguments|length > 0 %}
    <h5 class="phpdocumentor-argument-list__heading">Parameters</h5>
    <dl class="phpdocumentor-argument-list">
        {% for argument in node.arguments %}
            <dt class="phpdocumentor-argument-list__entry">
                <span class="phpdocumentor-signature__argument__name">${{ argument.name }}</span>
                : <span class="phpdocumentor-signature__argument__return-type">{{ argument.type|route('class:short')|join('|')|raw }}</span>
                {% if argument.default %} = <span class="phpdocumentor-signature__argument__default-value">{{ argument.default }}</span>{% endif %}
            </dt>
            <dd class="phpdocumentor-argument-list__definition">
                {{ include('components/description.html.twig', {'node': argument}) }}
            </dd>
        {% endfor %}
    </dl>
{% endif %}
