{% if node.methods is not empty or node.magicMethods is not empty or node.inheritedMethods is not empty %}
    <section>
        <h3 class="phpdocumentor-methods__header">Methods</h3>
        {% for method in node.methods %}
            {% include 'components/method.html.twig' %}
        {% endfor %}
        {% for method in node.magicMethods %}
            {% include 'components/method.html.twig' %}
        {% endfor %}
        {% for method in node.inheritedMethods %}
            {% include 'components/method.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
