{% if (node.response.type and node.response.type != 'void') or node.response.description %}
    <h5 class="phpdocumentor-return-value__heading">Return values</h5>
    <span class="phpdocumentor-signature__response_type">{{ node.response.type|route('class:short')|join('|')|raw }}</span>
    {% if node.response %}
        &mdash;
        {{ include('components/description.html.twig', {'node': node.response}) }}
    {% endif %}
{% endif %}
