{% set methods = methods(node) %}
{% if methods is not empty %}
    <section class="phpdocumentor-methods">
        <h3 class="phpdocumentor-methods__header">Methods</h3>
        {% for method in methods %}
            {% include 'components/method.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
