{% set methods = methods(node)|sortByVisibility %}
{% if methods is not empty %}
    <section class="phpdocumentor-methods">
        <h3 class="phpdocumentor-elements__header" id="methods">
            Methods
            <a href="{{ link(node) }}#methods" class="headerlink"><i class="fas fa-link"></i></a>
        </h3>
        {% for method in methods %}
            {% include 'components/method.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
