{% set properties = properties(node)|sortByVisibility %}

{% if properties is not empty %}
    <section class="phpdocumentor-properties">
        <h3 class="phpdocumentor-elements__header" id="properties">
            Properties
            <a href="{{ link(node) }}#properties" class="headerlink"><i class="fas fa-link"></i></a>
        </h3>
        {% for property in properties %}
            {% include 'components/property.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
