<code class="phpdocumentor-code phpdocumentor-signature {% if node.deprecated %}phpdocumentor-signature--deprecated{% endif %}">
    <span class="phpdocumentor-signature__visibility">{{ node.visibility }}</span>
    {% if node.static %}<span class="phpdocumentor-signature__static">static</span>{% endif %}
    <span class="phpdocumentor-signature__type">{{ not node.type ? "mixed" : node.type|route('class:short')|join('|')|raw }}</span>
    <span class="phpdocumentor-signature__name">${{ node.name }}</span>
    {% if node.default is not null %} = <span class="phpdocumentor-signature__default-value">{{ node.default is not null ? node.default : '""' }}</span>{% endif %}
</code>
