{% set properties = properties(node)|sortByVisibility %}

{% if properties is not empty %}
    <section class="phpdocumentor-properties">
        <h3 class="phpdocumentor-properties__header">Properties</h3>
        {% for property in properties %}
            {% include 'components/property.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
