<section data-search-form class="phpdocumentor-search">
    <h2 class="phpdocumentor-sidebar__category-header">Search</h2>
    <label class="phpdocumentor-label">
        <span class="visually-hidden">Search for</span>
        <input type="search" class="phpdocumentor-field phpdocumentor-search__field" placeholder="Loading .." disabled />
    </label>
</section>
