<div data-search-results class="phpdocumentor-search-results phpdocumentor-search-results--hidden">

    <h2>Search results</h2>
    <ul class="phpdocumentor-search-results__entries">
    </ul>
</div>
