<h2 class="phpdocumentor-content__title">
    {{ node.name }}
    {% if node.usedTraits is not empty %}
        <span class="phpdocumentor-trait__extends">
            Uses
            {% for trait in node.usedTraits %}
                {{ trait|route('trait:short') }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
    {% endif %}
</h2>
