//$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
//@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
//@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');
@import '~prismjs/themes/prism.css';
@import '~prismjs/themes/prism-okaidia.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-primary);
  }

  a {
    color: var(--link-color-primary);

    &:hover {
      color: var(--link-hover-color-primary);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mt-5 mb-3 font-semibold;

    .headerlink {
      @apply opacity-0 transition-all text-sm text-gray-300;
    }
    &:hover .headerlink {
      @apply opacity-100;
    }
  }

  h1 {
    @apply mt-0;
  }
  h4, h5, h6 {
    @apply my-3;
  }

  h1 { @apply text-4xl; }
  h2 { @apply text-3xl; }
  h3 { @apply text-2xl; }
  h4 { @apply text-xl; }
  h5 { @apply text-lg; }
  h6 { @apply text-base; }

  blockquote {
    @apply border-l-4 border-solid my-3 py-1 px-2 italic;
    border-color: var(--primary-color-darken);
    color: var(--primary-color-darker);
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }

  p {
    @apply mb-2;

    &:last-of-type {
      @apply mb-0;
    }
  }
}

@layer components {

}
