<div class="configuration-block">
    <ul class="simple">
        {% for block in blocks %}
            <li>
                <em>{{ block.language }}</em>
                {{ renderNode(block.code) }}
            </li>
        {% endfor %}
    </ul>
</div>
