.treeview ul
{
  background:          transparent;
}

body
{
  margin:              0px;
  padding:             0px;
  line-height:         1.5em;
  font-family:         Verdana, Helvetica;
  font-size:           0.8em;
  background:          white url('../images/menu-background.png') top left repeat-y;
  color:               black;
}

table
{
  border-collapse:     collapse;
}

thead th
{
  color:               gray;
  font-size:           0.8em;
  border-bottom:       1px solid silver;
}

th, td
{
  padding-right:       8px;
}

/* A header is provided as hook for themes */
#header
{
  display:             none;
}

/* A footer is provided as hook for themes */
#footer
{
  clear:               both;
  width:               100%;
  background:          black;
  color:               #ffffff;
  text-align:          center;
  padding:             4px 0px;
  visibility:          hidden;
}

#content_container
{
  float:               right;
  width:               100%;
  margin-left:         -450px; /*Set left margin to -(leftColumnWidth + RightColumnWidth)*/
}

#content
{
  margin-left:         450px; /*Set left margin to (leftColumnWidth + RightColumnWidth)*/
}

#menu
{
  float:               left;
  width:               200px; /*Width of left column in pixels*/
  color:               white;
}

#index
{
  float:               left;
  width:               250px; /*Width of right column in pixels*/
}

#index h1
{
  text-align:          center;
  font-size:           1.2em;
  border-bottom:       1px solid black;
}

#index h2
{
  font-size:           1.1em;
  margin-bottom:       5px;
  border-bottom:       1px dashed gray;
}

.padder
{
  margin:              10px; /*Margins for inner DIV inside each column (to provide padding)*/
  margin-top:          0px;
}

#index .padder
{
  margin-left:         5px;
  margin-right:        5px;
}

#menu h1
{
  text-align:          center;
  margin-top:          15px;
  margin-bottom:       10px;
  color:               #6495ed;
}

#menu h4
{
  margin-bottom:       0px;
  border-bottom:       1px solid #5E8CDF;
}

#menu #search-box
{
  text-align:          center;
  margin-bottom:       20px;
}

#menu #search-box input
{
  text-align:          center;
  border:              2px solid #5E8CDF;
  -moz-border-radius:  5px;
  border-radius:       5px;
}

.treeview ul
{
  margin-top:          2px;
}

.treeview-docblox li
{
  background-image:    none;
  padding:             0px 3px;
}

.treeview-docblox li.collapsable
{
  border:              1px dashed gray;
  -moz-border-radius:  5px;
  margin-bottom:       2px;
  padding-top:         5px;
  padding-bottom:      5px;
}

.treeview li .content
{
  border:              1px solid gray;
  -moz-border-radius:  5px;
  background-color:    #ECF1F7;
  margin-bottom:       3px;
  padding:             2px 5px;
  width:               222px;
  word-wrap:           break-word;
}

.treeview-docblox .hitarea, .treeview-docblox li.collapsable, .treeview-docblox li.expandable
{
  background-image:    url('../css/images/treeview-famfamfam.gif');
}

.treeview-docblox small
{
  color:               black;
  line-height:         1.5em;
  display:             block;
  font-style:          italic;
}

.treeview-docblox a
{
  color:               #2B4167;
}

.treeview li.expandable, .treeview li.collapsable
{
  background-position: 0 -176px;
}

.treeview div.collapsable-hitarea, .treeview div.expandable-hitarea
{
  background-position: -80px -3px;
  float:               right;
  margin-right:        -7px;
}

.treeview div.collapsable-hitarea
{
  background-position: -64px -25px;
}

#content .properties
{
  float:               right;
  width:               200px;
  border:              1px solid gray;
  -moz-border-radius:  5px;
  padding:             5px;
  background:          white;
  word-wrap:           break-word;
}

#content .properties div.property-value
{
  margin-left:         80px;
  word-wrap:           break-word;
  font-size:           0.8em;
  width:               120px;
}

#content .properties label.property-key
{
  float:               left;
  width:               80px;
  word-wrap:           break-word;
  font-size:           0.8em;
  font-weight:         bold;
}

#content .properties h1
{
  font-size:           1.1em;
  margin-top:          3px;
  margin-bottom:       0px;
  border-bottom:       1px solid #5E8CDF;
}

#content .properties table
{
  font-size:           0.8em;
  width:               200px;
}

#content table
{
  font-size:           1.0em;
}

#content .properties th, #content .properties td, #content th, #content td
{
  text-align:          left;
  vertical-align:      top;
  word-wrap:           break-word;
  overflow:            hidden;
  white-space:         pre-wrap;
}

#content h1
{
  border-bottom:       1px solid #5E8CDF;
  padding-bottom:      10px;
}

#content h2
{
  border-bottom:       1px dashed #5E8CDF;
  padding-bottom:      6px;
}

#content h5
{
  margin-bottom:       0px;
  margin-top:          12px;
}

#content .method
{
  border:              1px solid silver;
  background:          #f9fdf9;
  margin:              8px 0px;
  padding:             5px;
}

#content .method h4
{
  margin-top:          10px;
  margin-bottom:       3px;
}

#content .property
{
  border:              1px solid silver;
  background:          #f9fdf9;
  margin:              8px 0px;
  padding:             5px;
}

#content .property h4
{
  margin-top:          10px;
  margin-bottom:       3px;
}

/*li.namespace div.content */
/*{*/
  /*font-weight: bold;*/
/*}*/