@import url('abstract.css');

a {
    color: #504cc9;
}

sidebar-logo {
    vertical-align: bottom;
}

#db-header {
    padding-bottom: 0px;
}

#db-header h1 {
    margin-bottom: 0px;
}

td#db-menu {
    font-size: 0.8em;
    border-bottom: 1px solid silver;
}

td#db-menu ul {
    display: block;
}

td#db-menu li {
    float: right;
    padding-right: 10px;
}
