<li id="{{ tocItem.targetId }}" class="toc-item">
    <a href="{{ tocItem.targetUrl }}">{{ tocItem.title|raw }}</a>

    {% if tocItem.children|length %}
        {% include "guides/toc-level.html.twig" with {
            tocItems:tocItem.children
        } %}
    {% endif %}
</li>
