on:
  schedule:
    - cron: 0 0 1 * * # run monthly
  repository_dispatch: # run manually
    types: [check-link]
  # Allow manually triggering the workflow.
  workflow_dispatch:

name: Broken Link Check
jobs:
  check:
    name: Broken Link Check
    runs-on: ubuntu-latest
    if: github.repository == 'phpDocumentor/phpDocumentor'
    steps:
      - name: Broken Link Check
        uses: technote-space/broken-link-checker-action@v2.2
        with:
          TARGET: 'https://docs.phpdoc.org/3.0/'
          RECURSIVE: true
          LABELS: 'documentation'
