on:
  push:
    branches:
      - master
  pull_request:
name: Qa workflow
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Restore/cache tools folder
        uses: actions/cache@v1
        with:
          path: tools
          key: all-tools-${{ github.sha }}
          restore-keys: |
            all-tools-${{ github.sha }}-
            all-tools-
      - name: composer
        uses: docker://composer
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: install --no-interaction --prefer-dist --optimize-autoloader
      - name: composer-require-checker
        uses: docker://phpga/composer-require-checker-ga
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: check --config-file ./composer-require-config.json composer.json
      - name: Install phive
        run: make install-phive
      - name: Install PHAR dependencies
        run: tools/phive.phar --no-progress install --copy --trust-gpg-keys 4AA394086372C20A,D2CCAC42F6295E7D,E82B2FB314E9906E --force-accept-unsigned

  phpunit-with-coverage:
    runs-on: ubuntu-latest
    name: Unit tests [7.2 | ubuntu-latest]
    needs: setup
    steps:
    - uses: actions/checkout@master
    - name: Restore/cache vendor folder
      uses: actions/cache@v1
      with:
        path: vendor
        key: all-build-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          all-build-${{ hashFiles('**/composer.lock') }}
          all-build-
    - name: Restore/cache tools folder
      uses: actions/cache@v1
      with:
        path: tools
        key: all-tools-${{ github.sha }}
        restore-keys: |
          all-tools-${{ github.sha }}-
          all-tools-
    - name: PHPUnit
      uses: docker://phpdoc/phpunit-ga:latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload to Scrutinizer
      run: tools/ocular code-coverage:upload --format=php-clover build/logs/clover.xml
    - name: Quick check code coverage level
      run: php tests/coverage-checker.php 69

  codestyle:
    runs-on: ubuntu-latest
    needs:
      - setup
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Restore/cache tools folder
        uses: actions/cache@v1
        with:
          path: tools
          key: all-tools-${{ github.sha }}
          restore-keys: |
            all-tools-${{ github.sha }}-
            all-tools-
      - name: Code style check
        uses: phpDocumentor/coding-standard@master
        with:
          args: -d memory_limit=1024M

  phpstan:
    runs-on: ubuntu-latest
    needs:
      - setup
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Restore/cache tools folder
        uses: actions/cache@v1
        with:
          path: tools
          key: all-tools-${{ github.sha }}
          restore-keys: |
            all-tools-${{ github.sha }}-
            all-tools-
      - name: PHPStan
        uses: docker://phpdoc/phpstan-ga:latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: analyse src tests --level 5 --configuration phpstan.neon

  build-phar:
    runs-on: ubuntu-latest
    name: Build PHAR to test with
    needs:
      - setup
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: warm cache
        uses: docker://phpdoc/phar-ga:master
        with:
          args: php bin/console cache:warmup --env=prod
      - name: build phar
        uses: docker://phpdoc/phar-ga:master
        with:
          args: box compile
      - name: Upload PHAR file
        uses: actions/upload-artifact@v1
        with:
          name: phpDocumentor.phar
          path: build/phpDocumentor.phar

  behat-quick-feedback:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profile:
          - default
          - phar
    name: Integration tests [${{ matrix.profile }} | 7.2 | ubuntu-latest]
    needs:
      - build-phar
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '7.2'
          extensions: mbstring, intl, iconv, libxml, dom, json, simplexml, zlib
          ini-values: memory_limit=2G, display_errors=On, error_reporting=-1
          tools: pecl
      - name: Download PHAR file
        if: matrix.profile == 'phar'
        uses: actions/download-artifact@v1
        with:
          name: phpDocumentor.phar
          path: build
      - name: Run Behat
        run: php tools/behat -p ${{ matrix.profile }}

  smoketest:
    runs-on: ubuntu-latest
    name: Smoke test
    needs:
      - build-phar
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '7.2'
          extensions: mbstring, intl, iconv, libxml, dom, json, simplexml, zlib
          ini-values: memory_limit=2G, display_errors=On, error_reporting=-1
          tools: pecl
      - name: Download PHAR file
        uses: actions/download-artifact@v1
        with:
          name: phpDocumentor.phar
          path: build
      - name: Did the download succeed?
        run: ls -hal build
      - name: Check version
        run: php ./build/phpDocumentor.phar --version
      - name: Run phpDocumentor on itself
        run: php ./build/phpDocumentor.phar -vvv

  e2e:
    runs-on: ubuntu-16.04
    name: E2E tests [ubuntu-latest]
    needs:
      - setup
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '7.2'
          extensions: mbstring, intl, iconv, libxml, dom, json, simplexml, zlib
          ini-values: memory_limit=2G, display_errors=On, error_reporting=-1
          tools: pecl
      - name: Build example project using Clean template
        run: ./bin/phpdoc --template=clean -vvv --config=data/examples/MariosPizzeria/phpdoc.xml --target=build/clean
      - name: Build example project using Default template
        run: ./bin/phpdoc --template=default -vvv --config=data/examples/MariosPizzeria/phpdoc.xml --target=build/default
      - name: Test templates using Cypress
        uses: cypress-io/github-action@v1

  e2e-matrix:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system:
          - ubuntu-16.04
          - windows-latest
          - macOS-latest
    name: E2E tests [${{ matrix.operating-system }}]
    needs:
      - e2e
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '7.2'
          extensions: mbstring, intl, iconv, libxml, dom, json, simplexml, zlib
          ini-values: memory_limit=2G, display_errors=On, error_reporting=-1
          tools: pecl
      - name: Build example project using Clean template
        run: ./bin/phpdoc --template=clean --config=data/examples/MariosPizzeria/phpdoc.xml --target=build/clean
      - name: Build example project using Default template
        run: ./bin/phpdoc --template=default --config=data/examples/MariosPizzeria/phpdoc.xml --target=build/default
      - name: Test templates using Cypress
        uses: cypress-io/github-action@v1

  phpunit:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        php-versions:
          - '7.2'
          - '7.3'
          - '7.4'
        exclude: # already covered in pre-test with coverage above
          - operating-system: 'ubuntu-latest'
            php-versions: '7.2'
    name: Unit tests [${{ matrix.php-versions }} | ${{ matrix.operating-system }}]
    needs:
    - phpunit-with-coverage
    - phpstan
    - codestyle
    steps:
    - uses: actions/checkout@master
    - name: Restore/cache vendor folder
      uses: actions/cache@v1
      with:
        path: vendor
        key: all-build-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          all-build-${{ hashFiles('**/composer.lock') }}
          all-build-
    - name: Restore/cache tools folder
      uses: actions/cache@v1
      with:
        path: tools
        key: all-tools-${{ github.sha }}
        restore-keys: |
          all-tools-${{ github.sha }}-
          all-tools-
    - name: Setup PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring, intl, iconv, libxml, dom, json, simplexml, zlib
        ini-values: memory_limit=2G, display_errors=On, error_reporting=-1
        tools: pecl
    - name: Run PHPUnit
      run: php tools/phpunit.phar

  behat:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        profile:
          - default
          - phar
        operating-system:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        php-versions:
          - '7.2'
          - '7.3'
          - '7.4'
        exclude: # already covered in pre-test with coverage above
          - operating-system: 'ubuntu-latest'
            php-versions: '7.2'
    name: Integration tests [${{ matrix.profile }} | ${{ matrix.php-versions }} | ${{ matrix.operating-system }}]
    needs:
      - behat-quick-feedback
      - phpstan
      - codestyle
    steps:
      - uses: actions/checkout@master
      - name: Restore/cache vendor folder
        uses: actions/cache@v1
        with:
          path: vendor
          key: all-build-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            all-build-${{ hashFiles('**/composer.lock') }}
            all-build-
      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, intl, iconv, libxml, dom, json, simplexml, zlib, fileinfo
          ini-values: memory_limit=2G, display_errors=On, error_reporting=-1
          tools: pecl
      - name: Download PHAR file
        if: matrix.profile == 'phar'
        uses: actions/download-artifact@v1
        with:
          name: phpDocumentor.phar
          path: build
      - name: Run Behat
        run: php tools/behat -p ${{ matrix.profile }}

  demo:
    runs-on: ubuntu-latest
    needs:
      - phpunit
      - e2e-matrix
      - behat
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@master
      - name: 'phpDoc clean'
        uses: ./ # use this repo as an action
        with:
          template: 'clean'
          target: 'build/clean'
      - name: 'phpDoc default'
        uses: ./ # use this repo as an action
        with:
          template: 'default'
          target: 'build/default'
      - name: 'Fix file permissions'
        run: 'sudo chown $USER ./build'
      - name: 'Copy docker files'
        run: 'cp ./data/demo/* ./build'
      - name: Build
        uses: elgohr/Publish-Docker-Github-Action@master
        env:
          VERSION: '3.0'
        with:
          name: phpdocumentor/phpdocumentor/demo.phpdoc.org
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          context: build
          buildargs: VERSION
          tags: '3.0'
        id: demo_build
      - name: 'deploy'
        uses: jaapio/keelsh-deploy@1.0.0
        with:
          keelBaseUrl: ${{ secrets.KEEL_BASE_URL }}
          image: 'docker.pkg.github.com/phpdocumentor/phpdocumentor/demo.phpdoc.org'
          tag: ${{ steps.demo_build.outputs.tag }}
