on:
  push:
    paths:
      - 'docs/**'
    branches:
      - '2.9'
name: Update Documentation
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
