{% block sourceViewJS %}
	<script type="text/javascript">
		function loadExternalCodeSnippets() {
			Array.prototype.slice.call(document.querySelectorAll('pre[data-src]')).forEach(function (pre) {
				var src = pre.getAttribute('data-src');
				var extension = (src.match(/\.(\w+)$/) || [, ''])[1];
				var language = 'php';

				var code = document.createElement('code');
				code.className = 'language-' + language;

				pre.textContent = '';

				code.textContent = 'Loading…';

				pre.appendChild(code);

				var xhr = new XMLHttpRequest();

				xhr.open('GET', src, true);

				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4) {

						if (xhr.status < 400 && xhr.responseText) {
							code.textContent = xhr.responseText;

							Prism.highlightElement(code);
						}
						else if (xhr.status >= 400) {
							code.textContent = '✖ Error ' + xhr.status + ' while fetching file: ' + xhr.statusText;
						}
						else {
							code.textContent = '✖ Error: File does not exist or is empty';
						}
					}
				};

				xhr.send(null);
			});
		}

		$(document).ready(function(){
			loadExternalCodeSnippets();
		});
		$('.source-view').on('shown', function () {
			loadExternalCodeSnippets();
		})
	</script>
{% endblock %}

{% block sourceView %}
	<div id="source-view-{{ swcode }}" class="modal hide fade source-view" tabindex="-1" role="dialog" aria-labelledby="source-view-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="source-view-label">{{ fileInfo.file.name }}</h3>
		</div>
		<div class="modal-body">
			<pre data-src="{{ path('files/' ~ fileInfo.path ~ '.txt')|raw }}" class="language-php line-numbers"></pre>
		</div>
	</div>
{% endblock %}